:host {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#content {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.error {
    color: red;
}

.warning {
    color: orange;
}
#userInf {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

#avatar {
    width: 240px;
    height: 240px;
    margin: 5%;
    border: 1px solid black;
}

#avatar > img {
    width: 240px;
    height: 240px;
}

#personalInformation {
    margin: 5%;
    width: max(calc(80% - 240px - 3px), calc(240px + 2px)); /* 100% - 20% margin - 240px avatar width - 3px avatar border */
}
p {
    margin-top: 0.2em;
    width: 100%;
    vertical-align: middle;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

form > p {
    margin: 0.5em 0;
}

#personalInformation > p {
    margin: 0;
    height: 30px;
}

input {
    max-width: fit-content;
    margin: 0 .4em;
}

form input {
    margin-left: 0;
}

input:disabled:hover {
    cursor: not-allowed;
}
#statistics {
    width: 90%;
}
