:host {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#languagesContainer {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.languageBox {
    min-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}