div {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: center;
}
form > div {
    width: 90%;
}
input:not([type=submit]) {
    margin-bottom: 1em;
    width: 90%;
    height: 20px;
    text-align: left;
    border-radius: 5px;
    padding: 5px;
}
a {
    text-decoration: none;
    color: blue;
}
input[type=checkbox] {
    height: 20px;
    width: 20px;
    vertical-align: sub;
}
input[type=submit] {
    width: 50%;
    margin-top: 0.5em;
    font-size: large;
    padding: 0.3em;
    border-radius: 1em;

}
input[type=submit]:hover {
    background-color: #888;
    color: white;
    cursor: pointer;
}
.error, .warning {
    margin: 0;
    margin-bottom: 0.5em;
    width: 90%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 1%;
    padding-right: 1%;
}
.error {
    color: red;
}
.warning {
    color: orange;
}
.form-control.ng-touched.ng-invalid {
    border-color: red;
}