:host {
    width: 100%;
}
div {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
}
strings-list {
    width: 30%;
    height: calc(100vh - 100px - 80px); /* 1max height - footer - navigation*/
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: grey; 
}