<div *ngIf="stringInformation">
    <div id="stringInformation">
        <p><b>String key</b>: {{ stringInformation.stringKey }}</p>
        <p *ngIf="stringInformation?.additionalContext"><b>Description</b>: {{ stringInformation.additionalContext }}</p>
        <p><b>Translate following text</b>: <br> {{ stringInformation.stringContent }}</p>
    </div>
    <form [formGroup]="translationSubmit" (ngSubmit)="submit()">
        <textarea formControlName="translation"
            placeholder="{{ userTranslation===undefined ? 'Enter your translation here...' : ''}}" name="translation" id="translateField" required></textarea>
        <p class="error" *ngIf="translation.touched && translation.errors?.['required']===true">You need to translate the text in case of submitting a translation</p>
        <div id="buttons">
            <input type="submit" value="Submit" (click)="buttonUsed='submit'">
            <input type="submit" value="Delete" (click)="buttonUsed='delete'">
            <input type="submit" value="Next" (click)="buttonUsed='next'">
            <input type="submit" value="Previous" (click)="buttonUsed='previous'">
        </div>
    </form>
</div>
<div *ngIf="!stringInformation">
    <p id="selectString">Select a string to translate</p>
</div>