<div *ngIf="stringInformation">
    <div id="stringInformation">
        <p><b>String key</b>: {{ stringInformation.stringKey }}</p>
        <p *ngIf="stringInformation?.additionalContext"><b>Description</b>: {{ stringInformation.additionalContext }}</p>
        <p><b>Translate following text</b>: <br> {{ stringInformation.stringContent }}</p>
    </div>
    <textarea placeholder="{{ userTranslation===undefined ? 'Enter your translation here...' : ''}}" name="translation" id="translateField">{{ userTranslation===undefined ? "" : userTranslation.translation}}</textarea>

</div>