<app-navigation></app-navigation>
    <div>
        <table>
            <tr>
                <th>🧑 User</th>
                <th>🗣 Rank</th>
                <th>🚩 Languages</th>
            </tr>
            <tr *ngFor="let user of users">
                <td><a routerLink="/users/{{ user.id }}">{{user.username}}</a></td>
                <td>
                    {{ ranks[user.rankId]}}
                </td>
                <td>
                    <a *ngFor="let language of user.languages.split(',')" 
                        routerLink="/users" 
                        [queryParams]="{language: language}"
                    >
                        <img src="assets/flagsSvg/{{ language.toLowerCase() }}.svg" 
                            onerror="this.src=`assets/flagsSvg/404.png`"
                            class="flag">
                    </a>
                </td>
            </tr>
        </table>
    </div>
<app-footer></app-footer>