:host {
    width: 100%;
}
div {
    margin: 5%;
    width: 90%;
    display: flex;
    justify-content: center;
}
th {
    background-color: gray;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}
tr {
    height: 40px;
}
td {
    height: 34px; /* 3px's from padding times two */
    padding: 3px 10px;
}
td:nth-of-type(3) {
    display: flex;
    align-items: center;
    width: auto;
}
a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}
tr:nth-of-type(2n+1) {
    background-color: #ccc;
}
.flag {
    width: 34px;
    height: 20px;
    vertical-align: middle;
}