.filterBox {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: larger;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
span {
    display: flex;
    align-items: center;
}
input[type=checkbox] {
    width: 3vh;
    height: 3vh;
}

p {
    margin: 0;
    font-weight: bold;
}

#stringsBox {
    position:unset;
    overflow: hidden;
}

.stringBox {
    padding: 5px 0 5px 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.stringBox:hover {
    background-color: #ccc !important;
    cursor: pointer;
}

.stringBox * {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: large;
}

.display {
    display: none;
}

#stringsBox {
    width: max(30%, 400px);
    height: calc(100vh - 100px - 80px - 20px); /* 1max height - footer - navigation*/
    overflow-y: scroll;
    overflow-x: hidden;
}

#stringsBox::-webkit-scrollbar {
    width: 12px;
}
  
#stringsBox::-webkit-scrollbar-track {
    border-radius: 10px;
}

#stringsBox::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}

#stringsBox::-webkit-scrollbar-thumb:hover {
    background: grey; 
}