#currentTranslations {
    display: flex;
    flex-wrap: wrap;
}

.userTranslation {
    width: 100%;
    display: inline-block;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.approved {
    background-color: green;
}