<div>
    <h1>Sign up</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="validate()">
        <div class="form-group" [formGroup]="registrationForm">
            Name: <input formControlName="name"
                class="form-control" type="text" name="name" placeholder="Enter your name" required>
            <p class="warning" *ngIf="registrationForm.controls['name'].touched && !registrationForm.controls['name'].valid">Name cant be empty</p>
        </div>
        <div class="form-group" [formGroup]="registrationForm">
            Surname: <input formControlName="surname"
                class="form-control" type="text" name="surname" placeholder="Enter your surname" required>
            <p class="warning" *ngIf="registrationForm.controls['surname'].touched && !registrationForm.controls['surname'].valid">Surname cant be empty</p>
        </div>
        <div class="form-group" [formGroup]="registrationForm">
            Username: <input formControlName="username"
                class="form-control" type="text" name="username" placeholder="Enter your username" required>
            <p class="warning" *ngIf="registrationForm.controls['username'].touched && !registrationForm.controls['username'].valid">Username cant be empty</p>
        </div>
        <div class="form-group" [formGroup]="registrationForm">
            Languages: <input formControlName="languages"
                class="form-control" type="text" name="languages" placeholder="Langauges you want to translate, for example EN,DE,PL " required>
            <p class="warning" *ngIf="registrationForm.controls['languages'].touched && !registrationForm.controls['languages'].valid">Languages cant be empty</p>
            <p class="warning" *ngIf="registrationForm.controls['languages'].touched && !registrationForm.value.languages.toLowerCase().split(',').includes('en')">You must be fluent in english</p>
        </div>
        <div class="form-group" [formGroup]="registrationForm">
            Birthdate: <input formControlName="birthdate"
                class="form-control" type="date" name="birthdate" required>
            <p class="warning" *ngIf="registrationForm.controls['birthdate'].touched && !registrationForm.controls['birthdate'].valid">Birthdate cant be empty</p>
        </div>
        <div class="form-group" [formGroup]="registrationForm">
            Email: <input formControlName="email"
                class="form-control" type="email" name="email" placeholder="Enter your email" required>
            <p class="warning" *ngIf="registrationForm.controls['email'].touched && !registrationForm.controls['email'].valid">Email cant be empty</p>
        </div>
        <div class="form-group" [formGroup]="registrationForm">
            Password: <input formControlName="password"
                class="form-control" type="password" name="password" placeholder="Enter your password" required>
            <p class="warning" *ngIf="registrationForm.controls['password'].touched && !registrationForm.controls['password'].valid">Password cant be empty</p>
        </div>
        <div class="form-group" [formGroup]="registrationForm">
            Repeat password: <input formControlName="repeatPassword"
                class="form-control" type="password" name="repeatPassword" placeholder="Repeat your password" required>
            <p class="warning" *ngIf="registrationForm.controls['repeatPassword'].touched && !registrationForm.controls['repeatPassword'].valid">You have to repeated password</p>
            <p class="warning" *ngIf="registrationForm.controls['repeatPassword'].touched && registrationForm.value.password !== registrationForm.value.repeatPassword">Passwords aren't the same</p>
        </div>
        <div class="form-group" [formGroup]="registrationForm">
            <p>
                <input formControlName="agreement"
                    class="form-control" type="checkbox" name="agreement"> I agree with Terms of Servive and Something other.
            </p>
        </div>
        <input type="submit" value="Register">
    </form>
    <h2>
        Have already an account? &shy; <a routerLink="/signin">Log in!</a>
    </h2>
</div>