<div>
    <h1>Sign up</h1>
    <form action="" method="POST">
        Name: <input type="text" name="name" placeholder="Enter your name">
        Surname: <input type="text" name="surname" placeholder="Enter your surname">
        Birthdate: <input type="date" name="birthdate">
        Email: <input type="email" name="email" placeholder="Enter your email">
        Password: <input type="password" name="password" placeholder="Enter your password">
        Repeat password: <input type="password" name="repeatPassword" placeholder="Repeat your password">
        <p>
            <input type="checkbox" name="agreement"> I agree with Terms of Servive and Something other.
        </p>
        <input type="submit" value="Log in">
    </form>
    <h2>
        Have already an account? &shy; <a routerLink="/signin">Log in!</a>
    </h2>
</div>