/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toast-success {
    width: 80%;
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 1em;
    padding: 1%;
    background-color: #51A351;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 3px #000000;
    opacity: 1;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.message, .title  {
    width: 100%;
}
.title {
    font-size: 120%;
    font-weight: bold;
}